Include /etc/ssh/sshd_config.d/*.conf
PermitRootLogin no
MaxAuthTries 5
IgnoreRhosts yes
PasswordAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
Banner none
Protocol 2
X11Forwarding no